.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "aside header"
    "aside main";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 260px 1fr;
}

.mainBase {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.mainHide {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
}

.bookCollection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 913px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainBase {
        /* height: 100%; */
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

}