.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* max-width: 390px; */
}

.container > h1 {
  margin-bottom: 20px;
}

.container button {
  margin-top: 30px;
  margin-bottom: 50px;
}