.logoutButton {
    background-color: white;
    border: none;
    color: #6D454C;
    cursor: grab;
    /* font-weight: bold; */
    font-size: medium;
    /* display: flex; */
    /* padding-left: 5px; */
}

.logoutButton:hover {
    text-decoration: underline;
    font-weight: bold;
}