.menuAside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: bisque; */
    padding: 20px;
    border-right: 1px solid #292F36;
}

.menuAsideTop {
    display: flex;
    flex-direction: column;
}

.menuImage {
    width: 80%;
    height: auto;
    align-self: center;
}

@media screen and (max-width: 913px) {
    .menuAside {
        display: none;
    }
}
